{% extends "analysis/base.html" %}

{% block title %}자기소개서 분석{% endblock %}

{% block script %}
{% endblock %}

{% block content %}
<div class="row block-center board">
	<div class="col-11">
		<div class="row">
			<div class="list-title col-5"><p>제목</p></div>
			<div class="list-title col-4"><p>직무</p></div>
			<div class="list-title col-3"><p>등록일</p></div>
		</div>
		{% for CV in CVs %}
		<div class="row">
			<div class="list-contents-title col-5"><p>
				<a href="{% url 'CVview' CV.id %}">
					{{ CV.title }}
				</a>
			</p></div>
			<div class="list-contents col-4"><p>{{ CV.job }}</p></div>
			<div class="list-contents col-3"><p>{{ CV.registered_date|date:"Y-m-d" }}</p></div>
		</div>
		{% empty %}
		<div class="row margin-10 center">
			현재 등록된 게시물이 없습니다.
		</div>
		{% endfor %}
		<!--pagination-->
		<div class="row">
			<div class="col-12 margin-10 center">
				{% if CVs.has_previous %}
				<span>
						<a href="?page=1">&laquo; 처음</a>
						<a href="?page={{ CVs.previous_page_number }}">이전</a>
					{% endif %}

					{% for page in page_list %}
						{% if page == CVs.number %}
							{{ page }}
						{% else %}
							<a href="?page={{ page}}">{{ page }}</a>
						{% endif %}
					{% endfor %}

					{% if CVs.has_next %}
						<a href="?page={{ CVs.next_page_number }}">다음</a>
						<a href="?page={{ CVs.paginator.num_pages }}">마지막 &raquo;</a>
					{% endif %}
					</span>
			</div>
		</div>
	</div>
	<!--search-->
	<div class="row">
		<div class="col-12 margin-10 center">
			<form action="." method="POST" id="search_form">{% csrf_token %}
				<p>
					제목
					<input type="text" name="search_text" id="search_text" value="{{ search_text }}" size="8" />
					<input type="submit" value="검색" />
				</p>
			</form>
		</div>
	</div>
	<!--write-->
	{% if user.username %}
	<div class="row">
		<div class="col-12 right"><h4><a href="{% url 'CVwrite' %}">분석하기</a></h4></div>
	</div>
	{% endif %}
</div>
<div class="height-100"></div>

{% endblock %}

