	<DIV ID="header">
		<DIV CLASS="logo" >
			<DIV CLASS="row">
				<DIV CLASS="col-8 logo-link dark-link"><A href="/">181.9%</A></DIV>
				<DIV CLASS="col-4 center member-link dark-link">
				{% if user.username %}
				<A href="/my_page/">{{ user.name }}님</A> /
				<A href="/logout/">로그아웃</A>
				{% else %}
				<A href="/login/">로그인</A> /
				<A href="/user_register/">회원가입</A>
				{% endif %}				
				</DIV>
			</DIV>
		</DIV>
		<DIV CLASS="menu">
			<DIV CLASS="row">
				<DIV CLASS="col-3 center sideline dark-link"><A href="/">자기소개서 분석</A></DIV>
				<DIV CLASS="col-3 center sideline dark-link"><A href="/QnA/">Q&A</A></DIV>
				<DIV CLASS="col-3 center sideline dark-link"><A href="/notices/">공지사항</A></DIV>
				<DIV CLASS="col-3 center sideline dark-link"><A href="/my_page/">마이페이지</A></DIV>
			</DIV>
		</DIV>
	</DIV>