{% extends "analysis/base.html" %}

{% block title %}비밀번호 {% endblock %}

{% block script %}
  {% load static %}<SCRIPT SRC = "{% static 'analysis/assets/js/user_ver2.js' %}"></SCRIPT>
{% endblock %}

{% block content %}

{% if form.errors %}
<script>alert("비밀번호 변경이 잘못되었습니다. 올바르게 입력해 주시기 바랍니다.");</script>
{% endif %}
<div class="row block-center">
	<div class="card-box col-6">
	<form id="password_change_form" action="." method="POST">
	{% csrf_token %}
		<div class="row">
			<div class="col-12"><h2>비밀번호 변경</h2></div>
		</div>
		<div class="row">
			<div class="ml-1 col-11">
				기존 비밀번호: <span class="margin-left-10">
					{{ form.old_password }}
				</span>
			</div>
		</div>
		<div class="row">
			<div class="ml-1 col-11">
				새 비밀번호: <span class="margin-left-10">
					{{ form.new_password1 }}
				</span>
			</div>
		</div>
		<div class="row">
			<div class="ml-1 col-11">
				새 비밀번호 (확인): <span class="margin-left-10">
					{{ form.new_password2 }}
				</span>
			</div>
		</div>
		<div class="row">
			<div class="col-12 center">
				<input type="button" value="비밀번호 변경" onClick="changePassword()" />
			</div>
		</div>
	</form>
	</div>
</div>
{% endblock %}
